<!DOCTYPE html>

<html lang="en">
    <head>
            {% include head.html %}
            {% seo %}
        <title>index</title>
    </head>
    <body>
        <head>
            <h1>index</h1>
        </head>
    </body>
</html>